[Unit]
Description=picoclaw Telegram Gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=stas
ExecStart=/usr/bin/picoclaw gateway
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/stas

[Install]
WantedBy=multi-user.target
